body {
    background:lemonchiffon;
    font-family: "Amatic SC";
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center center center;
    background-repeat: repeat;
    margin: auto;
}

ol {
    list-style-type:none;
    margin: 0;
    padding: 0;
    font-family:"Quicksand";
}

li {
    display: block;
}

li {
    float: right;
}
  
a {
    display: block;
    padding: 8px;
}

ol {
    background-color:#ffcdd2;
}

li a {
    display: block;
    color: #ffcdd2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 1px grey;
}

.active {
    display:block;
}

.text  {
    text-align:center;
    font-family:"AMATIC SC";
    font-size:50px;
    color:#ffcdd2;
    font: weight 100;
    text-shadow:1px 2px 1px grey;
    margin-top:100px;
}

.p1 {
    text-align:center;
    font-family:"Quicksand";
    color:black;
    font-size:20px;
    margin-top:-2.5px;
}

.div {
    background-color: #f6e0b5;
    width: 600px;
    height: 100px;
    border: 15px solid 	#eea990;
    box-shadow: 1px 1px 1px grey;
    padding: 60px;
    margin-left:300px;
    font-family:"Quicksand";
    font-size:15px;
    text-align:center;
    display:inline-block;
}

.vid {
    margin-top:20px;
    margin-left:350px;
}