body {
    background:lemonchiffon;
    font-family: "Amatic SC";
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: cover; 
    background-position: center center center;
    background-repeat: no-repeat;
    margin: auto;
}

.text {
    text-align: center;
    font-size: 75px;
    color: #ffcdd2;
    text-shadow: 2px 2px 1px grey;
    margin: 0;
    display:block;
}

ol {
    list-style-type:none;
    margin: 0;
    padding: 0;
    font-family:"Quicksand";
}

li {
    display: inline;
}

li {
    float: right;
}
  
a {
    display: block;
    padding: 8px;
}

ol {
    background-color:#ffcdd2;
}

li a {
    display: block;
    color: #ffcdd2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 1px grey;
}

.title {
    font-family:"AMATIC SC";
    color:#ffcdd2;
    font-weight: 100;
    text-align:center;
    font-size:50px;
    margin-top:5px;
    padding:0px;
    text-shadow: 1px 2px 2px grey;
}


.img { 
    margin-left:200px;
    display:block;
    width:250px;
}
a {
    text-decoration:none;
}
.h2 {
    color:#ffcdd2;
    font-size:20px;  
    text-shadow: 1px 1px 1px grey;
    font-weight:200;
    text-align:center;
    margin-top:-180px;
    font-family:"Cantarell";
    text-align:center;
    font-size:40px;
}

.img2 {
    margin-left:900px;
    margin-top:20px;
    display:block;
    width:250px;
}

.h1 {
    color:#ffcdd2;
    font-size:20px;
    text-shadow: 1px 1px 1px grey;
    font-weight:200;
    margin-top:-150px;
    text-align:center;
    font-family:"Cantarell";
    font-size:40px;
}

.img3 {
    margin-left:200px;
    margin-top:20px;
    display:block;
    width:250px;
}

.h3 {
    color:#ffcdd2;
    font-size:20px;
    text-shadow: 1px 1px 1px grey;
    font-weight:200;
    margin-top:-170px;
    text-align:center;
    font-family:"Cantarell";
    font-size:40px;
}